
:root {
  font-size: 62.5%;

  --ff-general:'Oxanium', cursive;
  --cl-black: #000000;
  --cl-white: #ffffff;
}

body {
  background-color: var(--cl-black);
  font-size: 1.6rem;
  font-family: var(--ff-general);
  color: var(--cl-white);
  position: relative;
}

body::before {
  content: "";
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.header
.logo {
  width: 30rem;
}

.character-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: calc(100vh - 15.2rem);
  padding-bottom: 3rem;
}

.character-selection 
.list-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.character-selection
.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 58.5rem;
  gap: 2.5rem;
}

.character-selection
.characters
.title {
  font-size: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(70, 5, 5);
  width: 100%;
  text-align: center;
}

.character-selection
.characters
.list-characters
.character
.image-small {
  width: 12rem;
  height: 15rem;
  border-radius: 2px;
  transition: transform .2s ease;
}

.character-selection
.characters
.list-characters
.character
.image-small:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.character-selection
.characters
.list-characters
.character.selected {
  box-shadow: 0 0 2rem .5rem red;
}

.character-selection
.selected-characted {
  text-align: center;
  max-width: 53rem;
}

.character-selection
.selected-characted
.big-character {
  width: 45rem;
  margin-top: 1rem;
}

.character-selection
.selected-characted
.name-character {
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(70, 5, 5);
}

.character-selection
.selected-characted
.description-character {
  line-height: 2.2rem;
  text-align: center;
  margin-top: 2rem;
  width: 42rem;
}